fuzzywuzzy>=0.18.0
loguru>=0.5.3
pyperclip>=1.8.2
PySimpleGUI==4.60.1
requests>=2.27.1
git+https://github.com/wizwalker/wizwalker.git@development
git+https://github.com/Slackaduts/wizsprinter@combat-expansion
pypresence>=4.2.1
pywin32>=304
