git+https://github.com/Slackaduts/fuzzywuzzy.git@remove-nag
loguru>=0.7.2
pyperclip>=1.9.0
requests>=2.32.3
git+https://github.com/wizwalker/wizwalker.git@development
git+https://github.com/Slackaduts/wizsprinter@lib-update
pypresence>=4.3.0
pywin32>=306
pyyaml>=6.0.1
./wheels/PySimpleGUI-4.60.5-py3-none-any.whl